*, body { font-family: Verdana, Arial, sans-serif; }

body {
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
}

a img {
    border: none;
}

h1 {
    text-align: center;
}

#logo {
    display: block;
    margin: auto;
}

#top-bar {
    text-align: left;
    height: 28px;
    overflow: hidden;
    border-bottom: 1px solid black;
    background-color: #DDF7D4;
}

#feed-url {
    font-size: 12px;
    padding: 5px;
    width: 600px;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
}

form {
    text-align: center;
}

#intro {
    width: 620px;
    margin: auto;
    padding: 10px;
    display: block;
}

#intro p {
    text-align: justify;
}

#bottom-links {
    margin-top: 20px;
    text-align: center;
}

#legal {
    display: block;
    font-size: 10px;
    margin: 20px 0 10px 0;
    text-align: center;
}

.blurb {
    text-align: center;
}

#share {
    text-align: center;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: bold;
}

#share img {
    vertical-align: middle;
}

#items {
    width: 80%;
    margin: auto;
}

.item {
    clear: both;
    margin-left: 10px;
    margin-bottom: 10px;
}

.item .title {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.item .image {
    float: left;
    margin-left: 10px;
}

.item .description {
    margin-left: 85px;
    text-align: justify;
}

.clear { clear: both; }

nav { 
    display: block;
}
nav a {
    font-weight: bold;
    text-decoration: none;
}

a { 
    color: #2F641C;
}

section.paragraphs {
    text-align: center;
}

section.paragraphs p {
    width: 650px;
    text-align: justify;
    margin: auto;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-size: 18px;
}