{% extends "main.html" %}
{% block content %}
<h1>About</h1>
<section class="paragraphs">
<p>
	This is quick for-fun project created to get <a href="http://twitter.com/makenai">@makenai</a> familiar with 
	<a href="http://code.google.com/appengine/">Google App Engine</a> again. It was sort of inspired by 
	<a href="http://twitter.com/zachware">@zachware</a> who was complaining that there was nothing good to 
	watch on Netflix Instant. I wanted to share my instant queue and couldn't find a quick and easy way to
	do it, so I hacked together a PHP script. This is the evolution of that PHP script.
</p>
<p>
	Incidentally, <a href="http://u.qcbr.me/22">this</a> is my personal instant queue. I don't remove things from there, 
	instead it's just a collection of movies I'm likely to watch now and then while doing something else.
</p>
</section>
<p><a href="/">Okay, take me home, about page.</a></p>
{% endblock %}