{% extends "main.html" %}
{% block content %}
<h1>Help</h1>
<section class="paragraphs">
<h2>It won't let me share my RSS feed!</h2>
<p>
	You can only share personal feeds, not the public feeds. First, make sure you're logged in to Netflix.
	Then, go to your <a href="http://www.netflix.com/RSSFeeds?lnkctr=mfRSS">RSS feeds page</a> and look for the 
	<b>Personalized Feeds</b> heading. If you don't see it, you might not be logged in. 
</p>
<p>
	The links you're looking
	for look like this: <pre>http://rss.netflix.com/QueueRSS?id=P1234567891234567891234567891234567</pre>
</p>
</section>
<p><a href="/">Okay, take me home, help page.</a></p>
{% endblock %}