<!doctype html>
<html lang="en">
<head>
	<title>QueueCumBeR</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/css/qcbr.css" />
	<!-- <link rel="shortcut icon" href="/img/favicon.png"> -->
</head>
<body>
	{% block content %}
	<img src="/img/qcbr.png" id="logo" />
	
	<section id="intro">
		<p>QueueCumBeR is here to provide hassle-free Netflix queue sharing over the interwebs.</p>
		<ol>
			<li><a href="https://www.netflix.com/Login" rel="nofollow" target="le_netflix">Log In</a> to Netflix (if not already)</li>
			<li>Go to your personal <a href="http://www.netflix.com/RSSFeeds?lnkctr=mfRSS" rel="nofollow" target="le_netflix">RSS feeds page</a></li>
			<li>Paste it below and Go!</li>
		</ol>
	</section>
	
	<form method="post" action="/register">
		<input type="url" name="feed_url" placeholder="Netflix RSS Feed URL Goes Here" id="feed-url" />
		<button type="submit">Go</button>
	</form>
	
	<nav id="bottom-links">
		<a href="/help">Help</a> | 
		<a href="/about">About</a> |
		<a href="/random">Random</a>
	</nav>
	{% endblock %}
	<footer id="legal">
		&copy; 2011 QueueCumBeR. This service is not affiliated with <a href="http://netflix.com" rel="nofollow">Netflix</a>. Not even a little bit.
	</footer>	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-20933366-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>