<!doctype html>
<html lang="en">
<head>
	<title>QueueCumBeR</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/css/qcbr.css" />
	<!-- <link rel="shortcut icon" href="/img/favicon.png"> -->
</head>
<body>
	{% block content %}
	<img src="/img/qcbr.png" id="logo" />
	
	<section id="intro">
		QueueCumBeR is here to provide hassle free Netflix Queue sharing. No authentication or login required, just copy and paste
		the the RSS feed url from the <a href="http://www.netflix.com/RSSFeeds?lnkctr=mfRSS" target="_blank">RSS feeds page</a> of
		your Netflix account, share the link with your friends and you're ready to go!
	</section>
	
	<form method="post" action="/register">
		<input type="url" name="feed_url" placeholder="Netflix RSS Feed URL" value="http://rss.netflix.com/QueueEDRSS?id=P1919258166891473108625044146359954" id="feed-url" />
		<button type="submit">Go</button>
	</form>

	<nav id="bottom-links">
		<a href="/help">Help</a> | <a href="/about">About</a>
	</nav>
	{% endblock %}
	<footer id="legal">
		&copy; 2011 QueueCumBeR. This service is not affiliated with <a href="http://netflix.com">Netflix</a>. Not even a little bit.
	</footer>	
</body>
</html>